body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

ol,
ul {
  list-style: none;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  /* gap: 1rem; */
  
}

form > label {
  margin-bottom: 1rem;
}

form > input {
  margin-bottom: 1rem;
}

form > select {
  margin-bottom: 1rem;
}

form > textarea {
  margin-bottom: 1rem;
}

form > div {
  margin-bottom: 1rem;
}

form > button {
  margin-bottom: 1rem;
}

input {
  padding: .5rem;
}

#auth_header {
  align-self: center;
}

.btn {
  align-self: center;
  padding: .5rem 1rem;
  background-color: #000;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color .2s ease-in-out;
}

.btn:hover {
  background-color: #252424;
}

.login__btn > svg {
 margin-left: .5rem;
}

.save-btn {
  padding: .5rem 1rem;
  background-color: #8ae74b;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #aef57f;
}

#persist {
  align-self: center;
}

.auth__container {
  align-self: center;
}

.home-link__container {
  align-self: center;
}

.Public {
  position: relative;
  min-height: 100vh;
} 

.Public:last-child {
  padding-bottom: 10rem;
}

.view-public {
  position: relative;
  min-height: 100vh;
}

.view-public:last-child {
  padding-bottom: 10rem;
}

.auth {
  position: relative;
  min-height: 100vh;
}

.auth > section {
  padding-bottom: 10rem;
}

.auth:last-child {
  padding-bottom: 10rem;
}

.dash-container {
  position: relative;
  min-height: 100vh;
}

.dash-container:last-child {
  padding-bottom: 10rem;
}


.dash_header{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 1;
  width: 100vw;
  background-color: #fff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  height: 100px;
        
}

.dash-header__container {
  display: flex;
  /* gap: 8rem; */
}

/* .dash-header__container > div {
  margin-left: 8rem;
} */

.user-icon {
  position: relative;
}

#arrow {
  transform: rotate(270deg);
  
}

.dash-header__nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  /* gap: 2rem; */
  left: -2.5rem;
  top: 2rem;
  width: 100px;
  display: none;
  padding: .5rem;
  background-color: #d6d5d5;
}

.logout {
  display: flex;
  /* gap: .5rem; */
}

.logout > svg {
  margin-left: .5rem;
}

.dash-header__nav > button {
  width: 80%;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.user-icon:hover .dash-header__nav,
.user-icon:focus-within .dash-header__nav {
  display: block;
}

.user-icon:hover #arrow {
  transform: rotate(90deg);
}

.signup-link {
  padding: .5em 1em;
  display: none;
  gap: .5rem;
  background-color: #000;
  border: none;
  border-radius: 8px;

}

.auth__container > li {
  margin-right: 1rem;
}

.section-gradient > div > h1 {
  margin-bottom: 1rem;
}

.featured-categories > div > p {
  margin-left: 1rem;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

}

.Africa-section {
  background-color: rgb(16, 15, 77);
}

.Africa__section-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.Entertainment-section {
  background-color: rgb(156, 41, 26);
}
.Entertainment__section-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.law__background-image {
  background: url("../src/assets/clarisse-meyer-jKU2NneZAbI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  width: 100vw;
  height: 50vh;
}

/* Footer */
footer {
  display: flex;
  /* gap: 1rem; */
  position: absolute;
  bottom: 0;
  color: #fff;
  width: 100vw;
  padding: 2rem 2.5rem;
  background-color: #000;
}

footer > div {
  margin-left: 1rem;
}

.sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  /* padding: 2rem 3rem; */
    
}

.view-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  padding: 2rem 1rem;
}

/* Forms */

.post__form {
  display: flex;
  flex-direction: column;
  align-items: center;
      
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.button_container {
  display: flex;

}

#delete-post__btn {
  padding: .5rem 1rem;
  background-color: #e7554b;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

#delete-post__btn:hover {
  background-color: #df4439;
}

#delete-post__btn {
  margin-left: 1rem;
}


@media screen and (min-width: 700px) {
  .signup-link {
    display: block;
  }

  .user-icon {
    width: 3rem;
    height: 2rem;

  }

  .section-wrap {
    padding: 2rem 0rem;
  }
}

@media screen and (min-width: 950px) {

  #public-posts__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
 
  #public-posts__container > div:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  /* .Africa-section {
    background-color: rgb(16, 15, 77);
  } */

  /* .dash-header__nav {
    width: 150px;
    
  } */

  .user-icon:hover .dash-header__nav {
    display: block;
    top: 2rem;
    
  }

  .Africa__section-wrap {
    /* position: relative; */
    padding-left: 8rem;
    padding-right: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 10rem);
  }

  .Africa__section-wrap:hover {
    grid-template-columns: repeat(3, 19.5rem);
  }

  .Africa__section-wrap > div {
    top: -3rem;
  }

  /* .Africa__section-wrap > div:nth-child(2) > div > div > h1 {
    color: #df4439;
  } */

  /* .Africa__section-wrap > div:nth-child(2) > div > div > h1 {
    color: #a5ff69;
  } */

  .Entertainment-section {
    background-color: rgb(156, 41, 26);
  }

  .Entertainment__section-wrap {
    justify-content: center;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    transition: all 500ms ease-in-out;
  }

  .Entertainment__section-wrap:hover {
    grid-template-columns: repeat(3, 19.5rem);
  }

  .post__form {
    flex-direction: row;
    align-items: first baseline;
    padding-left: 2rem;
    padding-right: 2rem;
    /* gap: 50rem; */
  }

  .post__form > form {
    max-width: 30vw;
    flex: 1;
  }

  .post__form > section {
    flex: 2;
  }

  .post-body__container {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .law__background-image {
    background: url("../src/assets/clarisse-meyer-jKU2NneZAbI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    width: 100vw;
    height: 50vh;
  }
}
  
    


